server {
    listen 8080;

    location ~ ^/(status|ping)$ {
        access_log off;
        allow 127.0.0.1;
        deny all;
        include fastcgi_params;
        fastcgi_pass unix:/var/run/php7.1-fpm.sock;
    }
}
