{% extends "::base.html.twig" %}

{% block title %}InventoryBundle:User:login{% endblock %}

{% block content %}
 <form method="post" action="{{ path('login_Process') }}">
        <input type="text" name="username" placeholder="Enter Username"/>
        <input type="text" name="password" placeholder="Enter Password"/>
        <input type="submit" value="Login Account"/>
    </form>
{% endblock %}
