{% extends "::base.html.twig" %}

{% block title %}InventoryBundle:User:register{% endblock %}

{% block content %}
<h1>Welcome to the User:register page</h1>
    <form method="post" action="{{ path('register_process') }}" name="Registration Form">
        <input type="text" name="username" placeholder="Enter Username"/>
        <input type="text" name="password" placeholder="Enter Password"/>
        <input type="submit" value="Create Account"/>
    </form>
{% endblock %}
