{% if symfony_env == 'dev' %}
 ___      ___  ___      ___
|"  \    /"  ||"  \    /"  |
 \   \  //  /  \   \  //   |
  \\  \/. ./   /\\  \/.    |
   \.    //   |: \.        |
    \\   /    |.  \    /:  |
     \__/     |___|\__/|___|


{% elif symfony_env == 'test' %}

 ___________  _______   ________  ___________
("     _   ")/"     "| /"       )("     _   ")
 )__/  \\__/(: ______)(:   \___/  )__/  \\__/
    \\_ /    \/    |   \___  \       \\_ /
    |.  |    // ___)_   __/  \\      |.  |
    \:  |   (:      "| /" \   :)     \:  |
     \__|    \_______)(_______/       \__|


{% elif symfony_env == 'integration' %}

  __    _____  ___  ___________  _______   _______    _______        __  ___________  __      ______    _____  ___
 |" \  (\"   \|"  \("     _   ")/"     "| /" _   "|  /"      \      /""\("     _   ")|" \    /    " \  (\"   \|"  \
 ||  | |.\\   \    |)__/  \\__/(: ______)(: ( \___) |:        |    /    \)__/  \\__/ ||  |  // ____  \ |.\\   \    |
 |:  | |: \.   \\  |   \\_ /    \/    |   \/ \      |_____/   )   /' /\  \  \\_ /    |:  | /  /    ) :)|: \.   \\  |
 |.  | |.  \    \. |   |.  |    // ___)_  //  \ ___  //      /   //  __'  \ |.  |    |.  |(: (____/ // |.  \    \. |
 /\  |\|    \    \ |   \:  |   (:      "|(:   _(  _||:  __   \  /   /  \\  \\:  |    /\  |\\        /  |    \    \ |
(__\_|_)\___|\____\)    \__|    \_______) \_______) |__|  \___)(___/    \___)\__|   (__\_|_)\"_____/    \___|\____\)


{% elif symfony_env == 'qa' %}

    ______         __
   /    " \       /""\
  // ____  \     /    \
 /  /    )  )   /' /\  \
(: (____/ //   //  __'  \
 \         \  /   /  \\  \
  \"____/\__\(___/    \___)


{% elif symfony_env == 'prod' %}

   _______    _______     ______    ________
  |   __ "\  /"      \   /    " \  |"      "\
  (. |__) :)|:        | // ____  \ (.  ___  :)
  |:  ____/ |_____/   )/  /    ) :)|: \   ) ||
  (|  /      //      /(: (____/ // (| (___\ ||
 /|__/ \    |:  __   \ \        /  |:       :)
(_______)   |__|  \___) \"_____/   (________/


{% else %}

 ____  ____  _____  ___   __   ___  _____  ___      ______    __   __  ___  _____  ___
("  _||_ " |(\"   \|"  \ |/"| /  ")(\"   \|"  \    /    " \  |"  |/  \|  "|(\"   \|"  \
|   (  ) : ||.\\   \    |(: |/   / |.\\   \    |  // ____  \ |'  /    \:  ||.\\   \    |
(:  |  | . )|: \.   \\  ||    __/  |: \.   \\  | /  /    ) :)|: /'        ||: \.   \\  |
 \\ \__/ // |.  \    \. |(// _  \  |.  \    \. |(: (____/ //  \//  /\'    ||.  \    \. |
 /\\ __ //\ |    \    \ ||: | \  \ |    \    \ | \        /   /   /  \\   ||    \    \ |
(__________) \___|\____\)(__|  \__) \___|\____\)  \"_____/   |___/    \___| \___|\____\)


{% endif %}