{% extends 'base.html.twig' %}

{% block content %}

 <div class="container">
    <h1>Inventory Manager</h1>
    <hr/>

     {#All form fields should have a name="field_name" property. You will use the name property to get the value in php#}
     <form class="form-inline" method="post" action="{{ path('create_product') }}">
         <label class="mr-sm-2" for="inlineFormCustomSelect">Add Item</label>

         <label class="sr-only" for="inlineFormInput">Name</label>
         <input type="text" class="form-control mb-4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder="Product name" name="name">

         <label class="sr-only" for="inlineFormInput">Cost</label>
         <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Cost" name="cost">

         <label class="sr-only" for="inlineFormInput">Quantity</label>
         <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Quantity" name="quantity">

         <button type="submit" class="btn btn-primary">Submit</button>
     </form>



    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Cost</th>
            <th>Stock Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
 </div>
{% endblock %}