{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="starter-template">
            <h1>Project Site</h1>
            <p class="lead">The purpose for this site is to showcase<br>my capabilities.</p>
        </div>

    </div><!-- /.container -->

{% endblock content %}
